<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      
   <extension
         point="org.openscada.core.ui.connection.login.context">
      <context
            id="test"
            label="Test Connection">
         <factory
               class="org.openscada.core.ui.connection.login.factory.ConnectionLoginFactory">
         </factory>
         <connection
               autoReconnectDelay="10000"
               servicePid="connection.master.da"
               uri="da:net://openscada.local:12040?session.privilege.operator=true&amp;session.privilege.admin=true&amp;session.privilege.developer=true">
         </connection>
         <connection
               autoReconnectDelay="10000"
               servicePid="connection.master.ae"
               uri="ae:net://openscada.local:1302">
         </connection>
         <connection
               autoReconnectDelay="10000"
               mode="LAZY"
               servicePid="connection.master.hd"
               uri="hd:net://openscada.local:1402">
         </connection>
      </context>
   </extension>
   
    <extension
         point="org.eclipse.ui.menus">
         
      <menuContribution
            locationURI="toolbar:org.openscada.core.ui.connection.login.verticalTrim">
         <control
               class="org.openscada.ae.ui.views.contributions.AlarmNotifier">
         </control>
      </menuContribution>

      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.alarms.label">
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.allAlarms.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.monitorViewAlarms">
               </parameter>
            </command>
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.ackReq.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.monitorViewAknRequired">
               </parameter>
            </command>
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.onlyAlarmsView.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.monitorViewOnlyAlarm">
               </parameter>
            </command>
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.onlyWarningsView.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.monitorViewOnlyWarning">
               </parameter>
            </command>
            <separator
                  name="org.openscada.edcmuc1.client.configuration.separator1"
                  visible="true">
            </separator>
            
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.allAlarms.global.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.global.monitorViewAlarms">
               </parameter>
            </command>
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.ackReq.global.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.global.monitorViewAknRequired">
               </parameter>
            </command>
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.onlyAlarmsView.global.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.global.monitorViewOnlyAlarm">
               </parameter>
            </command>
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.onlyWarningsView.global.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.global.monitorViewOnlyWarning">
               </parameter>
            </command>
            
             <separator
                  name="org.openscada.edcmuc1.client.configuration.separator3"
                  visible="true">
            </separator>
            
            
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.latest.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.eventpool:org.openscada.edcmuc1.client.resources.eon.eventPoolViewAll">
               </parameter>
            </command>
			<command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.latest.global.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.eventpool:org.openscada.edcmuc1.client.resources.eon.global.eventPoolViewAll">
               </parameter>
            </command>
            <separator
                  name="org.openscada.edcmuc1.client.configuration.separator2"
                  visible="true">
            </separator>
            
            <command
                  commandId="org.openscada.ui.utils.showView"
                  label="%command.query.label"
                  style="push">
               <parameter
                     name="org.openscada.ui.utils.showView.viewId"
                     value="org.openscada.ae.ui.views.views.eventhistory:org.openscada.edcmuc1.client.resources.eon.eventHistoryView">
               </parameter>
            </command>
         </menu>
      </menuContribution>

   </extension>
   
  <extension
         point="org.openscada.ae.ui.views.configuration">
         
         
      <monitorView
            connectionString="connection.master.ae"
            connectionType="ID"
            id="org.openscada.edcmuc1.client.resources.eon.monitorViewAlarms"
            label="%monitorView.alarm.label"
            monitorQueryId="monitors.not_ok">
      </monitorView>
      <monitorView
            columns="0:450,1:150,2:180,3:100,4:0,5:0,6:180,7:180"
            connectionString="connection.master.ae"
            connectionType="ID"
            id="org.openscada.edcmuc1.client.resources.eon.monitorViewAknRequired"
            label="%monitorView.ackReq.label"
            monitorQueryId="monitors.ack_required">
      </monitorView>
      
           <monitorView
               connectionString="connection.master.ae"
               connectionType="ID"
               id="org.openscada.edcmuc1.client.resources.eon.monitorViewOnlyWarning"
               label="%monitorView.onlyWarnings.label"
               monitorQueryId="monitors.warning.not_ok">
         </monitorView>
         <monitorView
               connectionString="connection.master.ae"
               connectionType="ID"
               id="org.openscada.edcmuc1.client.resources.eon.monitorViewOnlyAlarm"
               label="%monitorView.onlyAlarms.label"
               monitorQueryId="monitors.alarm.not_ok">
         </monitorView>
      
      <eventPoolView
            columnInformationDefinition="defaultConfiguration"
            connectionString="connection.master.ae"
            connectionType="ID"
            eventPoolQueryId="events.all"
            id="org.openscada.edcmuc1.client.resources.eon.eventPoolViewAll"
            label="%eventPoolView.latest.label"
            maxNumberOfEvents="20000"
            monitorQueryId="monitors.not_ok">
      </eventPoolView>
      
      <eventHistoryView
            columnInformationDefinition="defaultConfiguration"
            connectionString="connection.master.ae"
            connectionType="ID"
            id="org.openscada.edcmuc1.client.resources.eon.eventHistoryView"
            label="%eventHistoryView.query.label">
      </eventHistoryView>
      
       </extension>
        
        
        <extension
         point="org.openscada.ae.ui.views.configuration">
      <alarmNotifier
            connectionId="connection.master.da"
            prefix="ae.server.info"
            soundFile="resources/alert.wav">
         <ackAlarmsAvailableCommand
               id="org.openscada.ui.utils.showView">
            <parameter
                  name="org.openscada.ui.utils.showView.viewId"
                  value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.monitorViewAknRequired">
            </parameter>
         </ackAlarmsAvailableCommand>
         <alarmsAvailableCommand
               id="org.openscada.ui.utils.showView">
            <parameter
                  name="org.openscada.ui.utils.showView.viewId"
                  value="org.openscada.ae.ui.views.views.monitors:org.openscada.edcmuc1.client.resources.eon.monitorViewAlarms">
            </parameter>
         </alarmsAvailableCommand>
      </alarmNotifier>
      
         <columnInformationDefinition
            id="defaultConfiguration">
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.sourceTimestamp.label"
               sortable="true"
               type="sourceTimestamp">
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.eventType.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="eventType">
            </columnParameter>
            <columnParameter
                  key="decoration"
                  value="MONITOR"
                  >
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.value.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="value">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.monitorType.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="monitorType">
            </columnParameter>
         </columnInformation>
		<columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.item.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="item">
            </columnParameter>
         </columnInformation>
		<columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.message.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="message">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.actorName.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="actorName">
            </columnParameter>
         </columnInformation>
		<columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.actorType.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="decoration"
                  value="ACTOR">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.priority.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="priority">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.source.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="source">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.hive.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="hive">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.system.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="system">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level0.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.0">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level1.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.1">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level2.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.2">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level3.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.3">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level4.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.4">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level5.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.5">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level6.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.6">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level7.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.7">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level8.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.8">
            </columnParameter>
         </columnInformation>
         <columnInformation
               initialSize="90"
               label="%defaultConfiguration.columnInformation.level9.label"
               sortable="false"
               type="variant">
            <columnParameter
                  key="key"
                  value="level.9">
            </columnParameter>
         </columnInformation>
		 <columnInformation
               initialSize="120"
               label="%defaultConfiguration.columnInformation.entryTimestamp.label"
               sortable="true"
               type="entryTimestamp">
         </columnInformation>
      </columnInformationDefinition>

      
   </extension>
   
    <extension
         point="org.openscada.vi.ui.user.viewer">
      <viewerExtension
            align="FILL"
            class="org.openscada.vi.ui.user.viewer.ext.ToolBarNavigatorExtension"
            id="org.openscada.edcmuc1.vi.main.navigator"
            location="LEFT">
      </viewerExtension>
      <viewerExtension
            align="FILL"
            class="org.openscada.vi.ui.user.viewer.ext.BreadcrumbNavigatorExtension"
            id="org.openscada.edcmuc1.vi.main.breadcrumbs"
            location="TOP">
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.openscada.edcmuc1.vi.main.viewerExtension4"
            location="TOP">
         <class
               class="org.openscada.vi.ui.user.viewer.ext.SeparatorExtension">
            <parameter
                  name="invisible"
                  value="true">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.openscada.edcmuc1.vi.main.time"
            location="TOP">
         <class
               class="org.openscada.vi.ui.viewer.ext.item.ItemExtension">
            <parameter
                  name="connectionId"
                  value="connection.master">
            </parameter>
            <parameter
                  name="itemId"
                  value="OS.DCS.SCADA.DATE.V">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.openscada.edcmuc1.vi.main.logo"
            location="TOP">
         <class
               class="org.openscada.vi.ui.viewer.ext.image.ImageExtension">
            <parameter
                  name="url"
                  value="platform:/plugin/org.openscada.sample.edcmuc1.gui/resources/customerLogo.png">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.openscada.edcmuc1.vi.main.debug"
            location="TOP">
         <class
               class="org.openscada.vi.ui.user.viewer.ext.DebugActionExtension">
         </class>
      </viewerExtension>
   </extension>
   
   <extension
         point="org.openscada.vi.ui.user.view">
	<viewInstance
       defaultInstance="true"
       factoryClass="org.openscada.vi.ui.user.VisualInterfaceFactory"
       id="org.openscada.sample.edcmuc1.placeholder"
       mainView="false"
       name="Login"
       order="1"
       resource="resources/views/placeholder.vi"
       zooming="false">
         <visibility>
            <reference
                  definitionId="edcmuc1.noSession">
            </reference>
         </visibility>
      </viewInstance>
     
 	<viewInstance
        defaultInstance="true"
        factoryClass="org.openscada.vi.ui.user.VisualInterfaceFactory"
        id="org.openscada.sample.edcmuc1.main"
        mainView="false"
        name="Main"
        order="1"
        resource="resources/views/main.vi"
        zooming="true">
         <visibility>
            <reference
                  definitionId="edcmuc1.hasSession">
            </reference>
         </visibility>
      </viewInstance>
  <viewInstance
        factoryClass="org.openscada.vi.ui.chart.draw2d.view.ChartViewFactory"
        id="org.openscada.sample.edcmuc1.arduino1"
        mainView="false"
        name="Chart Sample"
        parent="org.openscada.sample.edcmuc1.main"
        resource="resources/charts/arduino1.chart">
  </viewInstance>
     </extension>
     
     <extension
         point="org.eclipse.core.expressions.definitions">
   
 <definition
       id="edcmuc1.noSession">
    <and>
       <not>
          <with
                variable="org.openscada.core.ui.connection.login.sessionState">
             <equals
                   value="loggedIn">
             </equals>
          </with>
       </not>
    </and>
 </definition>
 <definition
       id="edcmuc1.hasSession">
    <and>
       <with
             variable="org.openscada.core.ui.connection.login.sessionState">
          <equals
                value="loggedIn">
          </equals>
       </with>
    </and>
 </definition>
 
   </extension>
   
   <extension
         point="org.openscada.vi.details.detailView">
      <detailView
            id="org.openscada.sample.edcmuc1.details1">
            <class class="org.openscada.vi.details.swt.impl.DetailViewImpl">
            	<parameter name="uri" value="platform:/plugin/org.openscada.sample.edcmuc1.gui/resources/details/details1.detailview"/>
            </class>
      </detailView>
  </extension>
   
</plugin>
