<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openscada.vi.ui.user.view">
      <viewInstance
            defaultInstance="true"
            factoryClass="org.openscada.vi.ui.user.VisualInterfaceFactory"
            id="org.openscada.tauri.ostest2.client.default"
            mainView="false"
            name="Main"
            resource="resources/views/placeholder.vi">
         <visibility>
            <reference
                  definitionId="org.openscada.tauri.ostest2.client.noSession">
            </reference>
         </visibility>
      </viewInstance>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.openscada.tauri.ostest2.client.noSession">
    <and>
       <not>
          <with
                variable="org.openscada.core.ui.connection.login.sessionState">
             <equals
                   value="loggedIn">
             </equals>
          </with>
       </not>
    </and>
      </definition>
      <definition
            id="org.openscada.tauri.ostest2.client.hasSession">
              <and>
       <with
             variable="org.openscada.core.ui.connection.login.sessionState">
          <equals
                value="loggedIn">
          </equals>
       </with>
    </and>
      </definition>
   </extension>
   <extension
         point="org.openscada.core.ui.connection.login.context">
      <context
            id="org.openscada.tauri.ostest2.client.DemoSystem"
            label="Demo System">
         <connection
               authUseCallbacks="true"
               autoReconnectDelay="10000"
               mode="NORMAL"
               uri="da:ngp://demo.openscada.org:2101">
            <registration
                  servicePid="connection.da.demo">
            </registration>
         </connection>
 		<connection
               authUseCallbacks="true"
               autoReconnectDelay="10000"
               mode="NORMAL"
               uri="ae:ngp://demo.openscada.org:2201">
            <registration
                  servicePid="connection.ae.demo">
            </registration>
         </connection>
         <factory
               class="org.openscada.core.ui.connection.login.factory.ConnectionLoginFactory">
         </factory>
      </context>
   </extension>

</plugin>
