<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openscada.vi.ui.user.view">
      <viewInstance
            defaultInstance="true"
            id="view1"
            name="My First View"
            uri="platform:/plugin/org.openscada.vi.sample1/resources/My.vi">
      </viewInstance>
      <viewInstance
            id="view2"
            name="My Second View"
            resource="resources/My.vi">
      </viewInstance>
      <viewInstance
            id="sample1.blinking"
            name="Blink"
            uri="platform:/plugin/org.openscada.vi.sample1/resources/Blink.vi">
      </viewInstance>
      <viewInstance
            id="sample1.borders"
            name="Borders"
            uri="platform:/plugin/org.openscada.vi.sample1/resources/Border.vi">
      </viewInstance>
   </extension>

</plugin>
